<header class="profile-header">
    <nav class="profile-nav">
        <header>
            <h1>Welcome to Cass' & Jess' Quarantine Cookbook!</h1>
            <nav>
                <ul>
                    <li><a href="/users/newUser">Signup</a></li>
                    <li><a href="/users/login">Login</a></li>
                </ul>
            </nav>
        </header>
    </nav>
</header>
