
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/main.css">

<header class="profile-header">
        
            <div id="title">
                <h1 class="main-title">Welcome to Cass' & Jess' Quarantine Cookbook!</h1>
                <img src="/img/cookbook.gif" alt="A cookbook." class="title-img">
            </div>

        </header>
