<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="profile-header">
        <nav class="profile-nav">
            <h1>Cass' & Jess' Quarantine Cookbook</h1>
    
            <ul>
            
                    <a href="/users/<%= userId %>">Main Recipes</a>
             
            </ul>
        </nav>
    </header>
    
</body>
</html>