<link rel="stylesheet" href="/styles/main.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">


<header class="profile-header">

    <div id="title">
        <h1 class="main-title">Cass' & Jess' Quarantine Cookbook!</h1>
        <img src="/img/cookbook.gif" alt="A cookbook." class="title-img">
    </div>

    <nav class="profile-nav">
        
            <a class="profile-link" href="/users/<%= recipeData.user._id %>">Main Recipes</a>
            <a class="logout-link" href="/users/login">Logout</a>
    </nav>

</header>
