<header class="profile-header">
    <nav class="profile-nav">
        <h1>Cass' & Jess' Quarantine Cookbook</h1>


                <a href="/users/<%= recipeData.user._id %>">Main Recipes</a>
    
    </nav>
</header>
