<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title><%= meta.title %></title>
</head>

<body>

    <header>

        <main>
            <h1 class="header">Welcome to Jess' & Cass' Quarantine Cookbook!</h1>
        </main>
        <p>
            <br>Are you bored in the house while you're in the house bored?
            <br>Are all your friends baking bread?
            <br>Have you discovered that if you don't write things down you won't remember them?
            <br>We're here for you.
        </p>
        <nav>
            <a href="/users/newUser"><button>Signup</button></a>
            <a href="/users/login"><button>Login</button></a>
        </nav>
    </header>


</body>

</html>