<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <main>
        <h1>Welcome to Jess' & Cass' Quarantine Cookbook!</h1>
        <h2>Funny Subtitle Here</h2>

        <form action="/login" method="POST">
        
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="5">
        </div>

        <button type="submit">Login</button>

        </form>
    </main>

</body>
</html>