body {
    color:  #bb8918;
    background: #a1ae25;
    text-align: center;
}

.button {
    background: #f2b9cc;
    margin: 5px;
    color: #bb8918;
}

div {
    color: #523637; 
}

h2, header{ 
    -webkit-text-stroke: 1px #523637;
}


header {
    border: 5px dotted #bb8918;
}