:root {
    --drkgreen: #a1ae25;
    --lgtgreen: #e1dc6b;
    --copper: #bb8918;
    --drkbrown: #523637;
    --pink: #f2b9cc;
}

body {
    list-style-type: none;
    font-family: 'Patrick Hand', cursive;
}

a {
    text-decoration: none;
    color: var(--drkbrown);
}

a:hover {
    color: var(--lgtgreen)
}

/* Header / Title Area */

.profile-header {
    margin-top: 6vh;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-title {
    padding-top: 4vh;
    font-family: 'Patrick Hand', cursive;
    font-size: 4.5vw;
}

.title-img {
    width: 10vw;
    padding-top: 1em;
}

.profile-nav {
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2vw;
}

/* Font Size Stylings */

h2 {
    font-size: 3.3vw;
}

h3, h4 {
    font-size: 2.5vw;
    margin: 0;
}

label, ul {
    font-size: 2vw;
}

p {
    font-size: 1.8vw;
}

/* Main Login/Signup Area Styling */

.login-main {
    display: grid;
    place-items: center;
}

.login-small {
    display: grid;
    place-items: center;
    margin: 10px;
    background-color: var(--drkgreen);
    width: 40vw;
    border: 5px solid var(--pink);
    border-radius: 10px;
    color: var(--drkbrown);
}

.login-button {
    margin: 1.2vw 0 0 7.5vw;
    color: var(--drkbrown);
    background-color: var(--lgtgreen);
}

/* Profile Area Styling */

.profile-main {
    color: var(--drkbrown);
    display: grid;
    place-items: center;
}

.profile-recipes {
    width: 60vw;
    background-color: var(--pink);
    padding-left: 10px;
    border: 5px solid var(--copper);
    border-radius: 10px;
    text-align: center;
}


.recipes-main {
    display: grid;
    place-items: center;
    background-color: var(--lgtgreen);
    width: 35vw;
    margin: 1vw 12vw 2vw 13vw;
    border: 4px solid var(--drkgreen);
    border-radius: 10px;
}

.show-recipe-button {
    background: var(--drkgreen);
    margin-left: 10px;
    color: var(--drkbrown);
}
