body {
    color: #523637;
    background: #f2b9cc;
    text-align: center;
}

li {
    list-style-type: none;
}

.button {
    background: #bb8918;
    margin: 5px;
    color: #e1dc6b;
}

div {
    color: #523637; 
}

h2, header { 
    -webkit-text-stroke: 1px #e1dc6b;
}

header {
    border: 5px dotted #523637;
}

/* Add/Edit recipe area */

textarea {
    padding: 10px;
    line-height: 1.5;
}

label {
    display: block;
    margin-top: 10px;
}

label {
    font-weight: bold;
}

.submit-recipe {
    margin-top: 10px;
}
