<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <main>

        <h1>Log on in!</h1>

        <form action="/users/login" method="POST">
        
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="5">
        </div>

        <button type="submit">Login</button>

        </form>

        <a href="/users/newUser"><button>Signup</button></a>
    </main>

</body>
</html>