<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/scripts.js" defer></script>
    <title>Login - Cass' and Jess' Quantine Cookbook</title>
</head>
<body>
    <%- include('../partials/loginHeader') %>
    <main>

        <h2>Log on in!</h2>

        <form action="/users/login" method="POST">
        
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>
        
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" minlength="5">
        </div>

        <button type="submit">Login</button>

        </form>
        <div class="signup">
            Are you a new Quantine Cookbook user?
            <a href="/users/newUser">Signup!</a>
        </div>
        
    </main>

</body>
</html>
