  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/newrecipe.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="/scripts/scripts.js" defer></script>
    <title>Add New Recipe</title>
</head> 
<body>
    
    <%- include('../partials/recipeHeader') %>

    <main>

        <h2>Add New Recipe</h2>

        <form action='/users/<%= userId %>/recipes' method='POST'>

            <div>
                <label for='recipeTitle'>Title:</label>
                <input type='text' id='recipeTitle' name='recipeTitle' required>
            </div>

            <div>
                <label for='ingredients'>Ingredients:</label>
                <textarea id='ingredients' name='ingredients'
                            rows='5' cols='30'></textarea>   
            </div>

            <div>
                <label for='instructions'>Instructions:</label>
                <textarea id='instructions' name='instructions'
                            rows="10" cols="30"></textarea>
            </div>
        
            <div>
                <label for='recipeType'>Recipe Type:</label>
                <input type='text' id='recipeType' name='recipeType' list="recipe-types">

                <datalist id="recipe-types">
                    <option value="Meat">
                    <option value="Vegetarian">
                    <option value="Dessert">
                </datalist>
            </div>

            <button type='submit' class='submit-recipe'>Add Recipe</button>

        </form>

        <a href="/users/<%= userId %>">Go Back</a>
    </main>
</body>
</html>
